@import "magnific-popup.css";
/* переменные */
@color_red_main:#871815;
@bg_transparent_red:rgba(163, 20, 20, 0.79);
@font_slab:'Kelly Slab', cursive;
@font_jura:'Jura', sans-serif;

/* mixins*/
.bg_transparent_white(@opacity){
  background: rgba(255, 255, 255, @opacity);
}
.text-shadow(@x: -1px, @y: -1px, @radius: 0px, @color: #000){
  -webkit-text-shadow: @arguments;
  -moz-text-shadow: @arguments;
  text-shadow: @arguments;
}
.border(@px: 1px, @width: solid, @color: #fff){
  border: @arguments;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(20deg);
  }
  66% {
    -webkit-transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
/*.parallax-window {
  min-height: 100vh;
  background: transparent;
  position: relative;
}*/
.parallax-window {
  min-height: 400px;
  background: transparent;
  background-size: cover;
}
.vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle;
  padding: 0;
}
.container-fluid{
  padding: 0;
}
.but_form{
  &:hover{
    color: #fff;
    background: @color_red_main;
    border: 1px solid #fff;
  }
  &:focus{
    color: #fff;
    background: @color_red_main;
    border: 1px solid #fff;
  }
  &:active{
    color: #fff;
    background: @color_red_main;
    border: 1px solid #fff;
  }
}
.norm_line{
  line-height: normal !important;
}
.modal{
  color: #000;
}
.checkbox{
  label{
    font-size: 2em;
    line-height: 1em;
    &:hover{
      text-shadow: 2px 1px 2px rgba(0,0,0,0.9);
    }
  }
}
/* ========================= start ========================*/
body{
  color: #fff;
  font-size: 1em;
}
/* header*/
.head_block{
  padding: 45px 0;
}
.phone{
  font-family: @font_slab;
  font-size: 2.5em;
  font-weight: bold;
  .text-shadow();
}
.logo_phone{
  img{
    float: right;
  }
}
.h_block{
  h1{
    font-size: 60px;
    .text-shadow(1px; 1px; 10px; #000);
  }
  h2{
    font-size: 45px;
    .text-shadow(1px; 1px; 10px; #000);
  }
  h4{
    font-size: 20px;
    .text-shadow(1px; 1px; 10px; #000);
  }
}
form{
  .border(10px);
  background: @bg_transparent_red;
  font-family: @font_slab;
  .form_block_h{
    padding: 20px 0;
    h2{
      font-size: 38px;
      .text-shadow(2px; 5px; 1px; #000);
    }
    h4{
      .text-shadow(2px; 5px; 1px; #000);
    }
  }
  .btn-default{
    font-weight: bold;
    color: #000;
  }
  .soc_seti{
    .btn{
      padding: 0;
      &:hover{transform: scale(1.1)}
    }
  }
}
/* клиенты */
.clients{
  background: url("../img/fons/ded_moroz_smotrit.jpg") center;
  background-size: cover;
  position: relative;
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: @bg_transparent_red;
  }
  h2{
    float: none;
  }
  .clients_inner{
    font-family: @font_slab;
    .img_block_clients{
      padding-right: 0;
      padding-top: 10px;
    }
    h4{
      font-size: 20px;
      .text-shadow(2px; 2px; 1px; #000);
    }
    p{
      font-size: 17px;
      display: block;
      padding-right: 20px;
      .text-shadow(2px; 2px; 1px; #000);
    }
  }
}
/* наши услуги */
.uslugi{
  padding-bottom: 40px;
  h2{
    font-size: 35px;
    font-weight: bold;
    span{
      color: @color_red_main;
      .text-shadow(1px;1px;0;rgba(0,0,0,0.6));
    }
  }
  h3{
    font-size: 2.5em;
    font-family: @font_slab;
    font-weight: bold;
    .text-shadow(1px;1px;1px;rgba(0,0,0,0.9))
  }
table{
  background: @bg_transparent_red;
  text-align: center;
  font-size: 1.5em;
  font-family: @font_slab;
  thead{
    tr{
      th{
        text-align: center;
        font-size: 1.5em;
      }
    }
  }
  tbody{
    tr{
      td{
        vertical-align: middle;
      }
    }
  }
  .button{
    color: #fff;
    background-color: #871815;
    border: 1px solid #fff;
    border-radius: 0;
    font-size: 18px;
    &:hover{
      color: @color_red_main;
      background: #fff;
      font-weight: bold;
  }
  }
}
}
/* about */
.about{
  padding: 45px 0;
  background: url("../img/fons/ded_moroz_truba.jpg");
  background-size: cover;
  position: relative;
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: @bg_transparent_red;
  }
  h2{
    font-family: @font_jura;
    font-size: 65px;
  }
  .abs_text{
    position: absolute;
    top:21%;
    left: 37%;
    font-size: 25px;
    span{
      font-size: 25px;
      .text-shadow(-2px; -1px; 1px; #000);
    }
    &.shapka2{
      font-size: 17px;
      top:25%;
      left: 39%;
    }
    &.shapka3{
      font-size: 18px;
      top:25%;
      left: 36%;
    }
    &.shapka4{
      font-size: 18px;
      top:25%;
      left: 31%;
    }
    &.shapka5{
      font-size: 18px;
      top:25%;
      left: 36%;
    }
  }
  #scene{
    img{
      position: absolute;
      &.sneg1{
        top: 1vw;
      }
      &.sneg2{
        top: 1vw;
        left: calc(1.5vw + 30%);
      }
      &.sneg3{
        top: 1vw;
        left: calc(1.5vw + 55%);
      }
      &.sneg4{
        top: 12vw;
        left: 8vw;
      }
      &.sneg5{
        top: 14vw;
        left: 32vw;
      }
    }
  }
}
/* Новый год время чудес */
.cudesa{
  padding: 5em 0;
  h2{
    font-family: @font_slab;
    font-size: 50px;
    padding-bottom: 1em;
    .text-shadow (0px, 4px, 5px, #000);
  }
  h4{
    font-size: 20px;
  }
  input{
    &.form-control{
      color: #000;
    }
  }
  form{
      .btn-default{
        color: #fff;
        background-color: @color_red_main;
        .border(1px;solid;#fff);
        border-radius: 0;
        padding: 12px;
        font-size: 18px;
        &:hover{
          color: #871815;
          background: rgba(255, 255, 255, 0.7);
          border: 1px solid #871815;
        }
      }
    img{
      position: absolute;
      top: -100px;
      right: -90px;
      &:hover{
        animation: rotate 1s infinite ease;
        -webkit-animation: rotate 1s infinite ease;
      }
    }
  }
}
/* сценарий праздника */
.scenarij {
  background: url("../img/fons/ded_moroz_okno.jpg");
  background-size: cover;
  position: relative;
  padding-bottom: 3em;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    .bg_transparent_white(0.7)
  }
  h2{
    color: #000;
    font-family: @font_jura;
    font-size: 40px;
    font-weight: bold;
    span{
      color: @color_red_main;
    }
  }
  .scenarij_blocks{
    h4{
      font-size: 20px;
      font-weight: bold;
      color: #000;
      span{
        text-decoration: underline;
      }
    }
    p{
      color: @color_red_main;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      font-family: @font_jura;
    }
    .kov1{
      position: absolute;
      left: -75px
    }
    .kov2{
      position: absolute;
      bottom: 2px;
      right: -50px;
      transform: rotate(180deg);
    }
  }
  #scene2{
    .star1{
      position: absolute;
      top: -76px;
      left: 170px;
    }
    .star2{
      position: absolute;
      top: -45px;
      left: 141px;
    }
    .star3{
      position: absolute;
      top: -90px;
      left: 60vw;
    }
    .star4{
      position: absolute;
      top: -60px;
      left: 65vw;
    }
    .star5{
      position: absolute;
      top: -80px;
      left: 120px;
    }
    .star6{
      position: absolute;
      top: -30px;
      left: 60vw;
    }
  }
}
/* zakaz */
.zakaz{
  padding-bottom: 2em;
  h2{
    font-size: 35px;
    font-weight: bold;
    .text-shadow (1px, 1px, 1px, rgba(0, 0, 0, 0.6));
    margin-bottom: 2em;
    span{
      color: @color_red_main;
      .text-shadow (1px, 1px, 1px, rgba(255, 255, 255, 0.6));
    }
  }
  .block_zakaz{
    .inner_bl_zak{
      .border(4px;dashed;rgba(163, 20, 20, 1));
      border-radius: 40px;
      min-height: 250px;
      text-align: center;
      padding: 1em;
      .bg_transparent_white(0.37);
      h4{
        color: @color_red_main;
        .text-shadow(1px;1px;1px;rgba(255,255,255,0.6));
        font-family: @font_slab;
        font-size: 25px;
        font-weight: bold;
      }
    }
    .bird_img{
      position: absolute;
      right: calc(0 - 32px - 15px);
      top: calc(100% - 64px);
      transform: scale(1.3);
      z-index: 10;
    }
  }
  .zakaz_btn{
    .border(5px;solid;rgba(163, 20, 20, 1));
    border-radius: 0;
    margin-top: 4em;
    font-size: 25px;
    padding: 0 55px;
    .bg_transparent_white(0.4);
    &:focus{
      color: #fff;
      background: @color_red_main;
      border: 5px solid #fff;
      outline: none;
    }
    &:active{
      color: #fff;
      background: @color_red_main;
      border: 5px solid #fff;
    }
  }
  a{
    color: #000;
    &:hover{
      color: #fff;
      .border(5px;solid; rgb(255, 255, 255));
      background: @bg_transparent_red;
    }
  }
}
/* как мы работаем */
.work-fluid{
  .bg_transparent_white(0.75);
  padding-bottom: 2em;
  .work{
    h2{
      color: @color_red_main;
      .text-shadow(1px;1px;1px;#000);
      font-family: @font_slab;
      font-weight: bold;
      font-size: 35px;
      margin-bottom: 2em;
      span{
        width: 100px;
        margin-bottom: 1%;
        height: 4px;
        background-color: #000;
        display: inline-block;
        &:first-child{
          margin-right: 1em;
        }
        &:last-child{
          margin-left: 1em;
        }
      }
    }
    .work_inner{
      font-family: @font_slab;
      h4{
        color: #000;
        font-size: 25px;
        .text-shadow(1px;1px;1px; rgba(0, 0, 0, 0.6));
        font-weight: bold;
      }
      p{
        color: @color_red_main;
        .text-shadow(1px;1px;1px; rgba(0, 0, 0, 0.6));
        font-size: 16px;
        font-weight: bold;
        span{
          color: #000;
        }
      }
    }
  }
}
/* отзывы */
.otzivi{
  h2{
    font-size: 35px;
    font-family: @font_slab;
    .text-shadow(1px;1px;1px; rgba(0, 0, 0, 0.6));
    span{
      color: @color_red_main;
      .text-shadow(1px;1px;1px; rgba(255, 255, 255, 0.8));
    }
  }
  .form_otzivi{
    .bg_transparent_white(0.6);
    padding-top: 2em;
    button{
      background: @color_red_main;
      color: #fff;
      &:hover{
        color: @color_red_main;
        .bg_transparent_white(0.7);
        .border(1px;solid;@color_red_main);
      }
    }
  }
  .rating-container .clear-rating {
    display: none;
  }
  .comments{
    margin-top: 2em;
    .comment_block{
      .border(3px;solid;@color_red_main);
      border-radius: 5px;
      padding: 1em;
      .bg_transparent_white(0.7);
      color: #000;
      margin-bottom: 1em;
      p{
        font-size: 18px;
        font-weight: bold;
      }
      .input-group-addon{
        border: none;
        background: transparent;
      }
    }
  }
}
/* foto*/
.foto{
  h2{
    font-size: 35px;
    font-family: @font_slab;
    font-weight: bold;
    span{
      color: @bg_transparent_red;
      .text-shadow(1px;1px;0px;rgba(255,255,255,0.5))
    }
  }
  .owl-carousel{
    .item{
      margin: 3px;
    }
    img{
      max-height: 300px;
      min-height: 300px;
      width: 100%;
      display: block;
    }
  }
}
/* остались вопросы */
.voprosi{
  margin-top: 4em;
  padding-bottom: 4em;
  .first_block{
    h2{
      font-size: 35px;
      font-weight: bold;
      font-family: @font_jura;
      .text-shadow(1px;1px;0px;rgba(0,0,0,0.5));
      span:first-child{
        color: @color_red_main;
        .text-shadow(1px;1px;0px;rgba(255,255,255,0.5));
      }
      span:last-child{
        color: #000;
        .text-shadow(1px;1px;0px;rgba(255,255,255,0.5));
      }
    }
    a{
      font-size: 35px;
      font-weight: bold;
      &:hover{
        color: #3B65ED;
      }
    }
    address{
      font-size: 25px;
      font-weight: bold;
      .text-shadow(1px;1px;0px;rgba(0,0,0,0.5));
    }
  }
}
.forms{
  padding: 2em;
  .form-control{
    font-size: 2em;
    color: #000;
  }
  button{
    background: #fff;
    color: @color_red_main;
    font-size: 2em;
    font-weight: bold;
  }
}
/* ==============  media query ==================== */
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .scenarij{
    .scenarij_blocks .kov2 {
      bottom: -36px;
      right: -3px;
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .phone_block{
    text-align: center;
  }
  form .form_block_h {
    text-align: center;
  }
  .border_bl{
    border-bottom: 1px solid #fff;
  }
  .about .abs_text {
    left: 29%;
  }
  .about .abs_text.shapka2 {
    left: 33%;
  }
  .about .abs_text.shapka3 {
    left: 28%;
  }
  .about .abs_text.shapka4 {
    font-size: 16px;
    top: 28%;
    left: 24%;
  }
  .about .abs_text.shapka5 {
    left: 27%;
  }
  #scene{
    img{
      opacity: 0.5;
    }
  }
  .zakaz .block_zakaz .inner_bl_zak {
    min-height: 285px;
  }
  .zakaz .zakaz_btn {
    margin-top: 2em;
    font-size: 21px;
    padding: 0 6px;
  }
  .zakaz .block_zakaz .bird_img {
    right: -10%;
    top: 25%;
  }
  .zakaz .block_zakaz .inner_bl_zak h4 {
    font-size: 1.5em;
  }
  .cudesa form img {
    left: 86%;
    width: 13vw;
  }
  .scenarij .scenarij_blocks .kov2 {
    bottom: -26%;
    left: 88%;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .phone_block{
    text-align: center;
  }
  .phone {
    font-size: 2.5em;
  }
  .border_bl{
    border-bottom: 1px solid #fff;
  }
  #scene{
    display: none;
  }
  .about .abs_text {
    position: relative;
    font-size: 2em;
    left: 0;
    span{
      font-size: 2em;
    }
    br{
      display: none;
    }
  }
  .about .abs_text.shapka2 {
    left: 0;
    font-size: 2em;
    span{
      font-size: 2em;
    }
  }
  .about .abs_text.shapka3 {
    left: 0;
    font-size: 2em;
    span{
      font-size: 2em;
    }
  }
  .about .abs_text.shapka4 {
    left: 0;
    font-size: 2em;
    span{
      font-size: 2em;
    }
  }
  .about .abs_text.shapka5 {
    left: 0;
    font-size: 2em;
    span{
      font-size: 2em;
    }
  }
  .about{
    img{
      display: none;
    }
  }
  .cudesa form img {
    position: absolute;
    top: -63px;
    left: 84%;
    width: 13vw;
  }
  .scenarij .scenarij_blocks .kov2 {
    bottom: -29%;
    left: 85%;
  }
  .zakaz .block_zakaz .inner_bl_zak {
    margin-bottom: 2em;
  }
  .zakaz .block_zakaz .bird_img {
    right: 46%;
    top: 88%
  }
  .zakaz .zakaz_btn {
    margin-top: 2em;
    font-size: 2em;
  }
  .work-fluid .work h2 span {
    width: 8vw;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .zakaz .zakaz_btn {
    margin-top: 2em;
    font-size: 1.5em;
    padding: 0.5em;
  }
  .border_bl{
    border-bottom: 1px solid #fff;
  }
  .work-fluid .work h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
  }
  .scenarij .scenarij_blocks .kov2 {
    bottom: -20%;
    left: 79%;
  }
  .zakaz .block_zakaz .bird_img {
    right: 40%;
    top: 82%;
  }
  .uslugi table{
    &.button{
      font-size: 17px;
      padding: 4px 3px;
    }
  }
}