/* переменные */
@color_red_main:#871815;
@bg_transparent_red:rgba(163, 20, 20, 0.79);
@font_slab:'Kelly Slab', cursive;
@font_jura:'Jura', sans-serif;

/* mixins*/
.bg_transparent_white(@opacity){
  background: rgba(255, 255, 255, @opacity);
}
.text-shadow(@x: -1px, @y: -1px, @radius: 0px, @color: #000){
  -webkit-text-shadow: @arguments;
  -moz-text-shadow: @arguments;
  text-shadow: @arguments;
}
.border(@px: 1px, @width: solid, @color: #fff){
  border: @arguments;
}

.parallax-window {
  min-height: 100vh;
  background: transparent;
  position: relative;
}
.vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle;
  padding: 0;
}
.container-fluid{
  padding: 0;
}
body{
  color: #fff;
}
/* header*/
.head_block{
  padding: 45px 0;
}
.phone{
  font-family: @font_slab;
  font-size: 20px;
  font-weight: bold;
  .text-shadow();
}
.logo_phone{
  img{
    float: right;
  }
}
.h_block{
  h1{
    font-size: 60px;
    .text-shadow(1px; 1px; 10px; #000);
  }
  h2{
    font-size: 45px;
    .text-shadow(1px; 1px; 10px; #000);
  }
  h4{
    font-size: 20px;
    .text-shadow(1px; 1px; 10px; #000);
  }
}
form{
  .border(10px);
  background: @bg_transparent_red;
  font-family: @font_slab;
  .form_block_h{
    padding: 20px 0;
    h2{
      font-size: 38px;
      .text-shadow(2px; 5px; 1px; #000);
    }
    h4{
      .text-shadow(2px; 5px; 1px; #000);
    }
  }
  .btn-default{
    font-weight: bold;
    color: #000;
  }
  .soc_seti{
    .btn{
      padding: 0;
      &:hover{transform: scale(1.1)}
    }
  }
}
/* клиенты */
.clients{
  background: url("../img/fons/ded_moroz_smotrit.jpg") center;
  background-size: cover;
  position: relative;
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: @bg_transparent_red;
  }
  h2{
    float: none;
  }
  .clients_inner{
    font-family: @font_slab;
    .img_block_clients{
      padding-right: 0;
      padding-top: 10px;
    }
    h4{
      font-size: 20px;
      .text-shadow(2px; 2px; 1px; #000);
    }
    p{
      font-size: 17px;
      display: block;
      padding-right: 20px;
      .text-shadow(2px; 2px; 1px; #000);
    }
  }
}
/* наши услуги */
.uslugi{
  padding-bottom: 40px;
  .uslugi_blocks{
    .border(10px;solid;@color_red_main);
    min-height: 50vh;
  }
}
/* about */
.about{
  padding: 45px 0;
  background: url("../img/fons/ded_moroz_truba.jpg");
  background-size: cover;
  position: relative;
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: @bg_transparent_red;
  }
  h2{
    font-family: @font_jura;
    font-size: 65px;
  }
  .abs_text{
    position: absolute;
    top:21%;
    left: 37%;
    font-size: 25px;
    span{
      font-size: 25px;
      .text-shadow(-2px; -1px; 1px; #000);
    }
    &.shapka2{
      font-size: 17px;
      top:25%;
      left: 39%;
    }
    &.shapka3{
      font-size: 18px;
      top:25%;
      left: 36%;
    }
    &.shapka4{
      font-size: 18px;
      top:25%;
      left: 31%;
    }
    &.shapka5{
      font-size: 18px;
      top:25%;
      left: 36%;
    }
  }
  #scene{
    img{
      position: absolute;
      &.sneg1{
        top: 1vmin;
      }
      &.sneg2{
        top: 3vmin;
        left: 60vmin;
      }
      &.sneg3{
        top: 1vmin;
        left: 120vmin;
      }
      &.sneg4{
        top: 195px;
        left: 135px;
      }
      &.sneg5{
        top: 165px;
        left: 535px;
      }
    }

  }
}
