/* переменные */
/* mixins*/
.parallax-window {
  min-height: 100vh;
  background: transparent;
  position: relative;
}
.vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle;
  padding: 0;
}
.container-fluid {
  padding: 0;
}
body {
  color: #fff;
}
/* header*/
.head_block {
  padding: 45px 0;
}
.phone {
  font-family: 'Kelly Slab', cursive;
  font-size: 20px;
  font-weight: bold;
  -webkit-text-shadow: -1px -1px 0px #000000;
  -moz-text-shadow: -1px -1px 0px #000000;
  text-shadow: -1px -1px 0px #000000;
}
.logo_phone img {
  float: right;
}
.h_block h1 {
  font-size: 60px;
  -webkit-text-shadow: 1px 1px 10px #000000;
  -moz-text-shadow: 1px 1px 10px #000000;
  text-shadow: 1px 1px 10px #000000;
}
.h_block h2 {
  font-size: 45px;
  -webkit-text-shadow: 1px 1px 10px #000000;
  -moz-text-shadow: 1px 1px 10px #000000;
  text-shadow: 1px 1px 10px #000000;
}
.h_block h4 {
  font-size: 20px;
  -webkit-text-shadow: 1px 1px 10px #000000;
  -moz-text-shadow: 1px 1px 10px #000000;
  text-shadow: 1px 1px 10px #000000;
}
form {
  border: 10px solid #ffffff;
  background: rgba(163, 20, 20, 0.79);
  font-family: 'Kelly Slab', cursive;
}
form .form_block_h {
  padding: 20px 0;
}
form .form_block_h h2 {
  font-size: 38px;
  -webkit-text-shadow: 2px 5px 1px #000000;
  -moz-text-shadow: 2px 5px 1px #000000;
  text-shadow: 2px 5px 1px #000000;
}
form .form_block_h h4 {
  -webkit-text-shadow: 2px 5px 1px #000000;
  -moz-text-shadow: 2px 5px 1px #000000;
  text-shadow: 2px 5px 1px #000000;
}
form .btn-default {
  font-weight: bold;
  color: #000;
}
form .soc_seti .btn {
  padding: 0;
}
form .soc_seti .btn:hover {
  transform: scale(1.1);
}
/* клиенты */
.clients {
  background: url("../img/fons/ded_moroz_smotrit.jpg") center;
  background-size: cover;
  position: relative;
}
.clients:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background-color: rgba(163, 20, 20, 0.79);
}
.clients h2 {
  float: none;
}
.clients .clients_inner {
  font-family: 'Kelly Slab', cursive;
}
.clients .clients_inner .img_block_clients {
  padding-right: 0;
  padding-top: 10px;
}
.clients .clients_inner h4 {
  font-size: 20px;
  -webkit-text-shadow: 2px 2px 1px #000000;
  -moz-text-shadow: 2px 2px 1px #000000;
  text-shadow: 2px 2px 1px #000000;
}
.clients .clients_inner p {
  font-size: 17px;
  display: block;
  padding-right: 20px;
  -webkit-text-shadow: 2px 2px 1px #000000;
  -moz-text-shadow: 2px 2px 1px #000000;
  text-shadow: 2px 2px 1px #000000;
}
/* наши услуги */
.uslugi {
  padding-bottom: 40px;
}
.uslugi .uslugi_blocks {
  border: 10px solid #871815;
  min-height: 50vh;
}
/* about */
.about {
  padding: 45px 0;
  background: url("../img/fons/ded_moroz_truba.jpg");
  background-size: cover;
  position: relative;
}
.about:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background-color: rgba(163, 20, 20, 0.79);
}
.about h2 {
  font-family: 'Jura', sans-serif;
  font-size: 65px;
}
.about .abs_text {
  position: absolute;
  top: 21%;
  left: 37%;
  font-size: 25px;
}
.about .abs_text span {
  font-size: 25px;
  -webkit-text-shadow: -2px -1px 1px #000000;
  -moz-text-shadow: -2px -1px 1px #000000;
  text-shadow: -2px -1px 1px #000000;
}
.about .abs_text.shapka2 {
  font-size: 17px;
  top: 25%;
  left: 39%;
}
.about .abs_text.shapka3 {
  font-size: 18px;
  top: 25%;
  left: 36%;
}
.about .abs_text.shapka4 {
  font-size: 18px;
  top: 25%;
  left: 31%;
}
.about .abs_text.shapka5 {
  font-size: 18px;
  top: 25%;
  left: 36%;
}
.about #scene img {
  position: absolute;
}
.about #scene img.sneg1 {
  top: 1vmin;
}
.about #scene img.sneg2 {
  top: 3vmin;
  left: 60vmin;
}
.about #scene img.sneg3 {
  top: 1vmin;
  left: 120vmin;
}
.about #scene img.sneg4 {
  top: 195px;
  left: 135px;
}
.about #scene img.sneg5 {
  top: 165px;
  left: 535px;
}
